body{
	font-size: 25pt;
	margin: 0 auto;
}
#all {
	border: 4px solid indigo;
	height: 100%;
}
#block1 {
	position: absolute;	
	top: 0%;
	left: 40%;
	padding: 5px;
	margin-left: 3%;
}
#task {
	color: #f00;
}
#block2 {
	border-right: 2px solid black;
	position: initial; \\надо поменять чтото тут через инлайн
	top: 0%;
	left: 75%;
	width: 40%;
	padding: 5px;

}
 button, input {
	font-size: 25pt;
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: .8em 1em calc(.8em + 3px);
  border-radius: 3px;
  box-shadow: 0 -3px rgb(53,167,110) inset;
  transition: 0.2s;
  margin-bottom: 10px;
}
/*Кнопки перехода по разделам*/
#tabs ul {
	margin: 50px 400px;
}
#tabs li {
	list-style: none;
	float: left;
	margin: 10px 50px;
}
#tabs a {
	text-decoration: none;
}
#tabs a:hover {
	color: #f00;
}
#ms {
	font-size: 0.8em;
	font-family: Arial, sans-serif;
	font-style: italic;
	float: right;
	margin: auto 10px;
}